@media only screen and (min-width: 650px) {
    .hamburger {
        display: none;
    }

    .navigation {
        display: flex;
        flex-direction: row;

    }

    #darkMode {
        display: none;
    }

    .darkmodeButton {
        margin-right: 20px;
    }


    .navigation ul {
        flex-direction: row;
        gap: 20px;
    }

    .navigation li {
        list-style: none;
    }

    .navigation a {
        background: none;
        text-decoration: none;
        color: black;
        font-size: 1rem;
    }

    .navigation a:hover {
        text-decoration: underline;
        transform: scale(1.08);
        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
    }

    #darkModeButton {
        display: block;
    }

    .largeviewGrid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        column-gap: 20px;
    }

    header {
        grid-column: 1/3;
    }

    /* SECTION GRID */
    .sectionGrid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
        column-gap: .5rem;
    }

    /* INDEX STYLE */

    .heroText span {
        font-size: 3rem;
        margin-bottom: .3rem;
    }

    .heroText p {
        font-size: 1.2rem;
    }

    .joinButton {
        padding: 1.5rem 5rem;
        background-color: var(--base-color);
        color: black;
        font-weight: bold;
        border: none;
    }

    .joinButton::after {
        content: " →";
    }
}