* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Amaranth', sans-serif;
    padding: 20px;
    max-width: 90vw;
    margin: 0 auto;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

main {
    background-color: rgb(230, 248, 248);
    box-shadow: 4px 4px 14px black;
    border-radius: 10px;
    padding: 5px;
}

section.formatCard {
    display: flex;
    flex-direction: column;
    background-color: rgba(161, 224, 224, 0.3);
    border: 1px solid rgba(15, 214, 214, 0.2);
    text-align: center;
    padding: 10px 15px;
}

p {
    font-size: smaller;
    line-height: 20px;
}

section img {
    display: block;
    margin: 10px auto;
    width: 150px;
    height: auto;
    box-shadow: 4px 4px 14px black;
}

#cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
    padding: 10px;
}

footer {
    background-color: rgb(230, 248, 248);
    text-align: center;
    margin-top: 10px;
    padding: 10px;
    box-shadow: 4px 4px 14px black;
}