:root {
    --muted-olive-2: #97a97cff;
    --dusty-olive: rgb(45, 70, 6);
}

* {
    box-sizing: border-box;
    font-family: 'Amaranth', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    column-gap: 4px;
    padding: 5px 0 5px 10px;
    align-items: end;
}

header img {
    display: block;
    width: 100%;
    height: auto;
}

header span {
    font-size: 1rem;
    color: var(--dusty-olive);
    font-weight: bold;
    padding-bottom: .2rem;
}

.hamburger {
    background: none;
    border: none;
    cursor: pointer;

}

.hamburger::after {
    content: "\2630";
    font-size: 1.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hamburger.show::after {
    content: "\00d7";
    font-size: 1.5rem;
    color: rgb(182, 23, 23);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Navigation Styles */

.navigation {
    display: none;
}

.navigation.show {
    display: block;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul li {
    padding: 0 10px;
}

.navigation a {
    text-decoration: none;
    color: white;
    display: block;
    padding: .8rem 10px;
    background-color: var(--dusty-olive);
    border-bottom: 2px solid rgba(221, 221, 221, 0.2);
}

.navigation a:hover {
    background-color: var(--muted-olive-2);
    color: white;
}

.navigation a.current {
    background-color: var(--muted-olive-2);
    color: var(--dusty-olive);
}

/* MAIN STYLING */

main {
    padding: 0 10px;
}

h1 {
    text-align: center;
    color: var(--dusty-olive);
    margin-top: .3rem;
}

section h2 {
    background-color: var(--dusty-olive);
    color: white;
    padding: .5rem;
    text-align: center;
    margin: 0;
}

.sectionBody {
    background-color: var(--muted-olive-2);
    color: black;
    padding: .3rem .8rem;
    margin-bottom: 1rem;
    text-align: justify;
}

.imgContainer {

    text-align: center;
    border: 4px solid #ddd;
    border-radius: 20px;
    width: 70%;
    height: auto;
    margin: 2rem auto;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}

.imgContainer img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 17px;
}

.courseCard.true {
    background-color: #bbb;
    color: black;
    text-decoration: line-through;
}

/* FOOTER STYLING */

footer {
    text-align: center;
    margin: 0
}

.footerText {
    background-color: var(--dusty-olive);
    color: white;
    padding: 1rem 0;
}



.mediaLinks {
    display: flex;
    justify-content: center;
}

.mediaLinks a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 10px;
    background-color: var(--dusty-olive);
    padding: 10px;
    color: white;
    flex-wrap: wrap;
    text-decoration: none;
    border: 1px solid #eee;
    border-radius: 40px;
}

.mediaLinks a:hover {
    background-color: var(--muted-olive-2);
    color: white;
}

.mediaLinks img {
    width: 2rem;
    height: 2rem;
}

/* COURSE STYLING */

.courseCard {
    display: block;
    background-color: var(--muted-olive-2);
    padding: 10px;
    margin: 5px 0;
    text-align: center;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}

.courseButtons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: .5rem 0;

}

.courseButtons a {
    text-decoration: none;
    color: white;
    background-color: var(--dusty-olive);
    padding: 10px 25px;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
}

.courseButtons a:hover {
    background-color: var(--muted-olive-2);
    color: white;
}